## Deliverable 3. Create a Travel Itinerary Map.

In [15]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [16]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,22,East London,ZA,85.14,few clouds,-33.0153,27.9116,Tu Casa
1,23,Kavieng,PG,82.31,broken clouds,-2.5744,150.7967,Nusa Island Retreat
2,25,Avarua,CK,80.65,light rain,-21.2078,-159.7750,Paradise Inn
3,28,Banjar,ID,80.46,overcast clouds,-8.1900,114.9675,The Hamsa Resort
4,29,Port Elizabeth,ZA,85.10,few clouds,-33.9180,25.5701,39 On Nile Guest House

In [17]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>and<dd>{Max Temp} Â°F</dd> 
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [18]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Cape Town']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Cape Town']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Hermanus']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Swellendam']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'East London']

In [20]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start_coord = [vacation_start.to_numpy()[0].item(5),vacation_start.to_numpy()[0].item(6)]
end_coord = [vacation_end.to_numpy()[0].item(5),vacation_end.to_numpy()[0].item(6)]
stop1_coord = [vacation_stop1.to_numpy()[0].item(5),vacation_stop1.to_numpy()[0].item(6)]
stop2_coord = [vacation_stop2.to_numpy()[0].item(5),vacation_stop2.to_numpy()[0].item(6)]
stop3_coord = [vacation_stop3.to_numpy()[0].item(5),vacation_stop3.to_numpy()[0].item(6)]

start = tuple(start_coord)
end = tuple(end_coord)
stop1 = tuple(stop1_coord)
stop2 = tuple(stop2_coord)
stop3 = tuple(stop3_coord)

In [21]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()

directions_layer = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2,stop3],
    travel_mode='DRIVING')


fig.add_layer(directions_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,125,Cape Town,ZA,83.12,few clouds,-33.9258,18.4232,Southern Sun Waterfront Cape Town
1,125,Cape Town,ZA,83.12,few clouds,-33.9258,18.4232,Southern Sun Waterfront Cape Town
2,31,Hermanus,ZA,82.90,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
3,194,Swellendam,ZA,87.19,broken clouds,-34.0226,20.4417,De Kloof Luxury Estate boutique Hotel & SPA
4,22,East London,ZA,85.14,few clouds,-33.0153,27.9116,Tu Casa

In [23]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>and<dd>{Max Temp} Â°F</dd> 
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()

itinerary_marker_layer = gmaps.marker_layer(locations,info_box_content = hotel_info)

fig.add_layer(itinerary_marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))